* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.bgvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}



.centrebox{
    /* background-color: rgb(1, 1, 1); */
    background: linear-gradient(135deg, #1a1a1a, #3b0000, #770000, #3b0000, #1a1a1a);
    background-size: 200% 200%;
    animation: gradientShift 4s ease infinite;
    opacity: 0.66;
    border-radius: 20px;
    color: white;
    margin-top: 25vh;
    margin-left: 35vw;
    width: 450px;
    height: 400px;
    padding: 32px;
    border: 1px solid #ffff00;


    text-align: center;}



.centrebox h2 {
    
    font-size: 25px;
    font-family: sans-serif;
    background: linear-gradient(135deg, #ff0000, #ff7f00, #ffff00, #000000, #ff0000);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorCycle 6s linear infinite;
}



.centrebox p {
    
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background: linear-gradient(135deg, #ff7f00, #ffff00, #ff7f00, #ffff00);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorCycle 9s linear infinite;
}


.profile-pic{
    opacity: 0.9;
    border: 2px solid #ffff00;
    border-radius: 50%;
    margin-bottom: 30px;
    width: 100px;

}

.socials {
    
    display:inline-flex;
    justify-content: space-between;
    
    margin: 40px 16px;
    
}

.socials img {
    filter: brightness(150%);
    width: 50px;
    height: 50px;
    border-radius: 0%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.socials:hover {
    
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}




@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes colorCycle {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 500px) {

    .centrebox{

    height: 400px;
    width: 290px;
    margin-right: 0;
    margin-left: 55px;
    padding: 18px 40px 24px 40px;
    }
    .socials{
        display: inline-block;
        margin: 30px 8px;
        padding-bottom: 10px;
    }
    .centrebox h2{
        font-size: large;
    }
    .centrebox p{
        margin-top: 10px;
       font-size: 12px;
    }
    
}